.form-content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item input {
  height: 2.4rem;
  color: #fff;
  padding: 0 1rem;
  border: none;
  outline: none;
  background-color: rgb(66, 66, 66);
  border-radius: 0.3rem;
}

.form-item input:focus {
    outline: #7c7c7c solid 1px;
  }

.form-item label {
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
}

.form-item select {
    height: 2.4rem;
    color: #fff;
    border: none;
    padding: 0 1rem;
    background-color: rgb(66, 66, 66);
    border-radius: 0.3rem;
    outline: none;
}

.form-item select:focus {
    outline: #7c7c7c solid 1px;
}

.error-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.error-div p {
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
}