.list-layout {
    width: 85%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    @media (max-width: 600px) {
        width: 100%;
    }
}