* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  background-color: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #000;
  }
}

body {
  background-color: rgb(var(--background-color));
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
} 