* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: flex-start;
gap: 5rem;
flex-direction: column;
padding: 4rem 2rem;
} 